@use '../../variables';
@use 'sass:color';

$header-height: 4em;

.appHeader {
    height: $header-height;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
}

.appHeaderContent {
    padding: 0.5em;
    height: 100%;
    flex: 1 0 100vw;
    background-color: variables.$celadon;
}

.headerBranding {
    font-size: 2em;
    color: variables.$cerulean-blue;
    vertical-align: middle;
    padding: 0.25em;
}

.appMenu {
    transition: height .2s;
    overflow: hidden;
    background-color: variables.$celadon;
    width: 100vw;
    height: 0;
    flex-grow: 0;
    z-index: 15;

    @media screen and (min-width: 700px) {
        width: 300px;
    }

    &.open {
        height: calc(100vh - $header-height - 1px);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        $darker-link-color: color.scale(variables.$cerulean-blue, $lightness: -40%);

        li {
            padding: 0.5em;
            padding-left: 1em;

            &.current a {
                font-size: 3em;
                color: $darker-link-color;
                cursor: default;
            }
        }

        a {
            font-size: 2em;
            color: variables.$cerulean-blue;
            transition: color .2s;

            &:hover {
                color: $darker-link-color;
            }
        }
    }
}
