$ao-english: rgba(40, 122, 17, 1);
$lime-green: rgba(97, 207, 66, 1);
$celadon: rgba(176, 219, 164, 1);
$cerulean-blue: rgba(49, 86, 222, 1);
$glaucous: rgba(108, 132, 217, 1);

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
